.textGradientParent {
    display: block;
    /*background: #af4261; !* Old browsers *!
    background: -moz-linear-gradient(top,  #ee5726 0%, #c32844 50%, #c32844 51%, #af4261 100%); !* FF3.6+ *!
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee5726), color-stop(50%,#c32844), color-stop(51%,#c32844), color-stop(100%,#af4261)); !* Chrome,Safari4+ *!
    background: -webkit-linear-gradient(top,  #ee5726 0%,#c32844 50%,#c32844 51%,#af4261 100%); !* Chrome10+,Safari5.1+ *!
    background: -o-linear-gradient(top,  #ee5726 0%,#c32844 50%,#c32844 51%,#af4261 100%); !* Opera 11.10+ *!
    background: -ms-linear-gradient(top,  #ee5726 0%,#c32844 50%,#c32844 51%,#af4261 100%); !* IE10+ *!
    background: linear-gradient(to bottom,  #ee5726 0%,#c32844 50%,#c32844 51%,#af4261 100%); !* W3C *!
    background: -webkit-linear-gradient(90deg, #ee5726, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;*/
    color: navajowhite;
    padding: 50px 0px 300px 0px;
    font-size: 30px;
    font-family: Montreal;
}

.textGradientSpan {
    background: linear-gradient(to right, #ef5825 0%, #a1035b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: whitesmoke;
    font-family: Montreal_bold;
}
