.topContentBody {
    width: 100%;
    min-height: 250px;
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.blackHole {
    height: 125px;
    max-width: 100%;
}

@media screen and (max-width: 650px) {
    .phaserTopContent {
        zoom: 0.35;
    }
}

