#exoWorldBannerOverlay {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.75) 10%, rgba(58, 131, 136, 0.5) 75%, rgba(0, 0, 0, 0.9) 100%);
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
}



.exoWorldBannerWrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 25px 5%;
    font-family: Metro, Arial, sans-serif;
    color: whitesmoke;
}

.exoWorldBannerTitle {
    font-size: 75px;
    text-shadow: -5px -1px 10px #000000;
    text-align: right;
}

.exoWorldBannerBottomDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    text-align: right;
}

.exoWorldBannerDescription {
    font-size: 25px;
    font-family: Montreal, Metro, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: left;
    text-shadow: -5px 1px 4px #000000;
    color: #cbcbcb;
    display: inline-block
}

.exoWorldBannerButton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
}

.exoWorldBannerWrapperChild {
    width: 50%;
}

@media screen and (max-width: 1600px) {
    .exoWorldBannerDescription {
        font-size: 20px;
    }
}

@media screen and (max-width: 650px) {
    .exoWorldBannerWrapper {
        padding: 0px 5% !important;
        width: 90% !important;
    }
    .exoWorldBannerTitle {
        margin-top: -25px !important;
        font-size: 20px;
    }
    .exoWorldBannerDescription {
        margin-top: 5px;
        font-size: 11px;
        display: inline-block;
    }
    .exoWorldBannerWrapperChild {
        width: 100%;
        margin-left: 0%;
    }
    .exoWorldBannerBottomDiv {
        margin-top: 5px;
        width: 100%;
    }
}