/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/


#root {
  overflow: hidden;
  padding: 0px 5%;
  position: relative;
}

body {
  font-family:  Montreal, Metro, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

code {
  font-family: Montreal,source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

a {
  color: #ffd493;
}

@font-face {
  font-family: Montreal;
  src: url('../public/assets/PPNeueMontreal-Book.otf') format("opentype");
}

@font-face {
  font-family: Montreal_bold;
  src: url('../public/assets/PPNeueMontreal-Bold.otf') format("opentype");
}

@font-face {
  font-family: Metro;
  src: url('../public/assets/METRO-DF.TTF') format("truetype");
}


@font-face { font-family: "troika"; src: url("../public/assets/PPNeueMontreal-Bold.otf") format("opentype"); }


